<extends src="master.html">
    <block name="content">
        <div class="content">
            <div class="container">
                <div id="app"></div>
            </div>

            <hr />

            <div class="container">
                <div class="row-grid-question">
                    <div class="card-custom card-white">
                        <div class="card-body">
                            <p class="ask-title">Wanna try basic PureCSS Template?</p>
                            <p class="ask-sub">Basic Template based on SCSS</p>
                            <div align="center">
                                <a href="https://github.com/AsyrafHussin/purecss-template" target="_blank" class="btn btn-link">
                                    <i class="fab fa-github"></i>
                                    Github
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom card-blue">
                        <div class="card-body">
                            <p class="ask-title">
                                Do you have any
                                <span>PureCSS</span>
                                request?
                            </p>
                            <p class="ask-sub">I'll try to realise your dreams</p>
                            <div align="center">
                                <a href="https://twitter.com/asyrafhussin4" target="_blank" class="btn btn-white">
                                    <i class="fab fa-twitter"></i>
                                    Ping me on Twitter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-custom card-white">
                        <div class="card-body">
                            <p class="ask-title">Are you looking for Frontend Developer?</p>
                            <p class="ask-sub">You can find me via</p>
                            <div align="center">
                                <a href="mailto:asyrafhussin4@gmail.com" class="btn btn-link">
                                    <i class="fas fa-envelope"></i>
                                    asyrafhussin4@gmail.com
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </block>
</extends>
