<div class="footer">
    <div class="container">
        <div class="grid-footer">
            <div class="left">
                <div class="title">
                    Pure
                    <span>CSS</span>
                </div>
                <div class="title-sub">&copy; 2020</div>
            </div>
            <div class="right">
                <div class="title-sharing">Sharing</div>
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://purecss.co"><i class="fab fa-facebook-f"></i></a>
                <a target="_blank" href="https://twitter.com/share?url=https://purecss.co&text=Collection%20of%20PureCSS%20images%20by%20@asyrafhussin4"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
