<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a href="#" class="navbar-title">
                Pure
                <span>CSS</span>
            </a>
            <span>by</span>
            <a href="https://twitter.com/asyrafhussin4" target="_blank" class="btn-small">@asyrafhussin4</a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" id="nightmode"><i id="moon-icon" class="far fa-moon"></i></a>
            </li>
        </ul>
    </div>
</nav>
