.navbar{
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  border-bottom: 1px solid rgba(0,0,0,.125);
  transition: all 250ms ease-out;
  // box-shadow: 0 2px 8px rgba(0,0,0,0.15);

  .navbar-brand{
    .navbar-title{
      padding-top: 20px !important;
      color: $main-color;
      font-weight: 700;
      font-size: 24px;

      &:hover{
        text-decoration: none;
      }

      span{
        font-weight: 400;
      }
    }

    > span{
      position: absolute;
      margin-left: 10px;
      margin-top: 6px;
      font-weight: 300;
      font-size: 16px;
      color: $main-color;
    }
    > .btn-small{
      position: absolute;
      top: 6px;
      margin-left: 40px;
    }
  }

  .moon-white{
    color: white;
  }
}
