<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>PureCSS by Asyraf Hussin</title>
        <meta name="description" content="Collection of PureCSS images by Asyraf Hussin" />
        <meta name="keywords" content="PureCSS.co,purecss.co,purecss,pure css,pure css images,Asyraf Hussin,scss" />
        <meta name="author" content="Asyraf Hussin" />

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="PureCSS by Asyraf Hussin" />
        <meta itemprop="description" content="Collection of PureCSS images by Asyraf Hussin" />
        <meta itemprop="image" content="https://purecss.co/img/banner_26.png" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://purecss.co" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="PureCSS by Asyraf Hussin" />
        <meta property="og:description" content="Collection of PureCSS images by Asyraf Hussin" />
        <meta property="og:image" content="https://purecss.co/img/banner_26.png" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="PureCSS by Asyraf Hussin" />
        <meta name="twitter:description" content="Collection of PureCSS images by Asyraf Hussin" />
        <meta name="twitter:image" content="https://purecss.co/img/banner_26.png" />

        <link rel="icon" type="image/png" href="https://purecss.co/img/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="https://purecss.co/img/favicon-16x16.png" sizes="16x16" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120536920-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "UA-120536920-1");
        </script>
    </head>

    <body>
        <include src="navbar.html"></include>

        <block name="content"></block>

        <include src="footer.html"></include>
    </body>
</html>
